<header>
  <div class="site-branding">
    <h1 class="site-title">
      <a href="<%- config.root %>">
        <span class="js">JS</span>DayES Blog
      </a>
    </h1>
    <p class="site-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
  </div>
  <nav class="site-navigation">
    <ul>
      <% for (var i in theme.menu){ %>
        <li>
            <% if ((theme.menu[i] + "/index.html") == ("/" + path )){ %>
                <span><%= __(i) %></span>
            <% } else { %>
                <li><a href="<%- url_for(theme.menu[i]) %>"><%= __(i) %></a></li>
            <% } %>
        </li>
      <% } %>
    </ul>
  </nav>
</header>
